@import "tailwindcss";

body, p, button, input, a, .btn, .form-control, h1, h2, h3, h4, h5, h6, span, div {
  font-family: "Roboto Flex", sans-serif;
}

.btn-secondary {
  --bs-btn-bg: #5c636a;
  --bs-btn-border-color: #5c636a;
  --bs-btn-hover-bg: #4d5358;
  --bs-btn-hover-border-color: #4d5358;
  --bs-btn-active-bg: #3e4347;
  --bs-btn-active-border-color: #3e4347;
}

.btn-outline-secondary {
  --bs-btn-color: #5c636a;
  --bs-btn-border-color: #5c636a;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #5c636a;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #4d5358;
  --bs-btn-active-border-color: #4d5358;
  --bs-btn-active-color: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
